# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Laszlo M. Szabo
	email = slaszlo-@student.42heilbronn.de
    editor = vim
[alias]
	p = push
	last = log -1 HEAD
    unstage = restore --staged . 
    confige = config --global -e
    ls = log --oneline
    alias = config --global -e
    url = git remote get-url --all origin
    cd = checkout
    changed =diff --shortstat
    pop =stash pop

{{ if eq (env "HOME") "/Users/slaszlo-" }}
# 42 School Mac
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[delta]
    line-numbers = true
#   syntax-theme = GitHub
[delta]
    side-by-side = true


{{ else if eq .chezmoi.os "linux" }}
# linux
{{ else }}
# other operating system
{{ end }}
