[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = vi
[user]
    # Specify the email address of the author/committer.
    name = "{{ .name }}"
    # Specify the username of the author/committer.
    email = "{{ .email }}"
